// Кнопка героя

.hero__btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--accent-color);
  background-color: var(--style-color);

  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}

// Кнопка закрытия модального окна

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: var(--style-color);
}

// Кнопка отправки формы в модальном окне

.modal-form__send-button {
  margin-right: auto;
  margin-left: auto;

  height: 50px;
  width: 200px;

  background: var(--style-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--accent-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__send-button:hover,
.modal-form__send-button:focus {
  background: #188ce8;
}

// Кнопки фильтров 

.button__list {
  display: flex;
  justify-content: center;
  margin-bottom: var(--section-gap);
}

.button__item + .button__item {
  margin-left: 8px;
}

.button__filter {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__filter-button:focus,
.button__filter:hover {
  color: var(--accent-color);
  background-color: var(--style-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;

  border: 1px solid transparent;
  border-radius: 4px;
}