// Форма модального окна

.modal__title {
  margin-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
  width: 448px;
}

.modal-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  & + & {
    margin-top: 10px;
  }
  &:focus-within {
    fill: var(--style-color);
  }
}

.modal-form__text {
  margin-bottom: 4px;

  text-align: start;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primery-text-color);
}

.modal-form__input {
  width: 448px;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__label:hover &,
  .modal-form__label:focus & {
    border-color: var(--style-color);
  }

  &:focus-within {
    border-color: var(--style-color);
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__label:hover & {
    fill: var(--style-color);
  }
}

.modal-form__comment {
  margin-bottom: 4px;
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--style-color);
  }
}

.modal-form__policy {
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: var(--gap);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;

  .modal-form__checkbox:checked + & {
    border-color: var(--style-color);
    background-color: var(--style-color);
    background-image: url('../images/check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.modal-form__term {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-left: 7px;
}

.modal-form__link-term {
  color: var(--style-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

// Форма футера
.form-footer {
  display: flex;
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-color);
}

.form-footer__direction {
  display: flex;
  flex-direction: column;
}

.form-footer__label {
  margin-bottom: 20px;
}

.form-footer__input {
  width: 358px;
  height: 50px;
  background: #2f303a;

  color: rgba(255, 255, 255, 0.6);

  padding: 15px 295px 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    border-color: var(--style-color);
  }
}

.form-footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
  margin-top: 36px;
  height: 50px;
  width: 200px;

  background: var(--style-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--accent-color);
}

.form-footer__icon-send {
  margin-left: 10px;
  fill: currentColor;
}
