%container-flex {
  display: flex;
  align-items: center;
}

%position {
  margin-left: auto;
  margin-right: auto;
}

%button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  color: getColor('accent-color');;
}