$colors: (
  'primery-text-color': #757575,
  'title-text-color': #212121,
  'accent-color': #fff,
  'style-color': #2196f3,
  'social-links-color': #afb1b8,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$gap: (
  'gap': 30px,
  'section-gap': 50px,
);

@function getGap($key) {
  @return map-get($gap, $key);
}

$fonts: (
  'primery-font': Roboto sans-serif,
  'secondary-font': Raleway sans-serif,
  'bold-font': 700,
);

@function getFonts($key) {
  @return map-get($fonts, $key);
}
